{% load static %}
<!DOCTYPE html>
<html lang="EN">
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>
<body>
    <img id="banner" src="{% static 'about/img/about.jpg' %}" alt="">
    <div id="menu">
        <ul>
            <li> <a href="/">Home</a> </li>
            <li><a href="/about/">About</a></li>
            <li><a href="/buku/">Data buku</a></li>
        </ul>
    </div>

    <!--Container-->
    <div class="container">
        <p></p>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">About Django</h4>
            <p> Django itu merupakan Web framework open source berbasis Python, digagas oleh Jacob Kaplan Moss dan Adrian Holovaty. Django menjadi salah satu Web Framework terbesar yang dimiliki Python baik dari segi komunitas maupun Web Framework itu sendiri. Django memiliki sebuah badan yang dinamakan dengan Django Software Foundation yang bertugas mengelola pendanaan untuk kelangsungan pengembangan Django.  Django memiliki tagline"The web framework for perfectionists with deadlines", bagaimana tidak karena secara default Django sudah memiliki berbagai modul umum yang biasa digunakan ketika membangun aplikasi web. Dengan Django saja anda sudah dapat menggunakan autentikasi sendiri, dan mendapatkan halaman admin sesuai model yang kamu defimisikan di dalam aplikasi
            </p>
            <hr>
            <p class="mb-0">
                Django awalnya dikembangkan pada tahun 2003 dan 2005 oleh beberapa web developer yang bertugas membuat dan merawat web portal(Newspaper website). Setelah membuat beberapa website, orang-orang tersebut mulai menulis ulang kode-kode yang pernah mereka tulis dengan enerapkan beberapa design pattern. Lalu disebarkan sebagai project opne source dengan nama "Django" pada bulan Juli 2005.
            </p>
        </div>
    </div>

    <!--FOOTER-->
    <footer class="footer">
        <div class="container">
            <span class="text-dark">Copyright 2002</span>
        </div>
    </footer>

    <!--JS-->
    <script src="{% static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript"></script>
</body>
</html>